*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

/* navbar */
.navbar{
    background-color: #FFFFFF;
}

.navbar .navbar-brand{
    font-size: 20px;
    font-weight: 700;
} 
.navbar .navbar-nav li a{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.navbar .btn{
    margin-right: 5px;
    margin-left: 32%;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 400;
    box-shadow: 1px 1px 2px 1px  rgb(200, 198, 198);
}

/* hero section */
.hero-section{
    max-height: 100vh; 
}

.hero-section .hero-section-text{
    margin-top: 100px;
}

.hero-section h1{
    font-size: 50px;
    font-weight: 700;
}

.hero-section span{
    display: block;
}

.hero-section h3{
    font-size: 24px;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 22px;
}

.hero-section .btn{
    padding: 8px 40px;
    border-radius: 50px; 
    font-size: 14px; 
    box-shadow: 2px 1px 2px 1px rgb(200, 198, 198);
}

.hero-section p{
    margin-left: 13px;
    max-height: 18px;
    font-size: 13px;
}

.hero-section p span{
    display: block;
}

.hero-section .image img{
    width: 600px;
    height: 390px;
    border-radius: 10px;
}

.hero-section .image{
    margin-top: 50px;
}

.hero-section-content-container{
    margin-top: 50px;
    background-color: #F3F3F3;
}

.hero-section-three-content{
    padding: 50px 0 22px;
}

.hero-section-three-content .column-1-content .display-flex-1{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.hero-section-three-content .column-1-content i{
    font-size: 20px;
    color: rgb(232, 232, 124);
}

.hero-section-three-content .column-1-content h2{
    font-size: 17px;
    font-weight: 700;
}

.hero-section-three-content .column-1-content p{
    font-size: 16px;
    font-weight: 500;
    max-width: 350px;
    padding-top: 8px;
}

.hero-section-three-content .column-2-content .display-flex-2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-section-three-content .column-2-content i{
    font-size: 20px;
    color: rgb(232, 232, 124);
}

.hero-section-three-content .column-2-content h2{
    font-size: 17px;
    font-weight: 700;
}

.hero-section-three-content .column-2-content p{
    font-size: 16px;
    font-weight: 500;
    max-width: 350px;
    padding-top: 8px;
}

.hero-section-three-content .column-3-content .display-flex-3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-section-three-content .column-3-content  i{
    font-size: 20px;
    color: rgb(232, 232, 124);
}

.hero-section-three-content .column-3-content h2{
    font-size: 17px;
    font-weight: 700;
}

.hero-section-three-content .column-3-content p{
    font-size: 16px;
    font-weight: 500;
    max-width: 350px;
    padding-top: 8px;
}
















